/Client/Library
/Client/Temp
/Client/Assets/UnityVS
/Client/Assets/UnityVS.meta
/Client/Client.CSharp.csproj
/Client/Client.sln
/Client/Client.v12.suo
/Server/myServer/myServer.v12.suo
/Server/myServer/myServer.GameServer/bin
/Server/myServer/myServer.GameServer/obj
/Server/myServerFramework/myServerFramework.v12.suo
/Server/myServerFramework/myServerFramework.Utility/obj
/Client/Client.csproj
/Client/Client.CSharp.Editor.csproj
/Client/Client.userprefs
/Client/.vs
/Client/Client.Editor.csproj
/Client/Assets/LuaFramework/Lua/.idea
/Server/myServer/.vs
/Server/myServerFramework/.vs
/Client/Assembly-CSharp.csproj
/Client/Assembly-CSharp-Editor.csproj
/Client/obj
/Tools/LogUtil/LogUtil.v12.suo
/Tools/LogUtil/LogUtil/obj
/Client/UnityVS.Client.Editor.csproj
/Client/UnityVS.Client.sln
/Client/Assembly-CSharp-Editor-vs.csproj
/Client/Assembly-CSharp-vs.csproj
/Client/Client-csharp.sln
/Client/UnityVS.Client.csproj
/Client/UnityVS.Client.v12.suo
/Client/Client.CSharp.Plugins.csproj
/Client/Client.Plugins.csproj
/Client/Assembly-CSharp-firstpass.csproj
/Client/Client.Editor.Plugins.csproj
/Client/Debug
